

body {
  font-family: "Merriweather Sans", "Shippori Mincho", "Noto Sans JP";
  width: 100%;
 
}


/* PC用のスタイル */
@media screen and (min-width: 768px) {
  



img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 1280px;
  position: relative;
  z-index: 12;
  margin: 0 auto;
}

#logo > img {
  width: 100px;
  height: 50px;
  
}

a {
  text-decoration: none;
}

nav > a {
  margin-left:  20px;
  margin-right: 10px;
  color: white;
  
 
}

.reserve-btn {
  margin: 10px 0;
  width: 200px;
}
#top {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.top1 {
  position: relative;
  top: -30px;
  left: 30px;
}

.top2 {
  position: relative;
  top: -140px;
  left: 50px;
  z-index: 10;
}

.top3 {
  max-width: 1280px;
  height: 584;
  width: 100%;
  margin: 0;
  position: relative;
  top: -85px;
  right: 530px;
  border-radius: 0 0 0 400px;
  z-index:11;
}

#news {
 display: flex;
 justify-content: space-between;
  height: 64px;
  margin: 20px 40px;
  max-width: 1280px;
  margin: 0 auto;
  
}

.news-first {
  font-size: large;
  font-weight: bold;
  color: #1B9240;

}

.news-second {
  color: #1B9240;
}

.nwes1 {
  margin-left: 20px;
}

.nwes2 {
  position: relative;
  right: 70px;
}

.badge_tag {
  width: 100px;
  height: 30px;
  position: relative;
  top: -5px;
  right: 190px;
}

.nwes3 {
  position: relative;
  right: 280px;
}

#concept {
  background-image: url(img/Title.png);
  background-repeat: no-repeat; 
  background-position: 120px 60px;
  max-width: 1280px;
  margin: 0 auto;
  
}

.concept-inner {
  display: flex;
  margin: 40px auto;
  background-image: url(img/BGicon_Light.png);
  background-repeat: no-repeat;
  background-position: 780px 180px;
}



.concept-text {
  width: 300px;
  margin: 20px auto;
  margin-right: 10px;
}

.concept-img {
  width: 300px;
  margin: 20px auto;
  margin-left: 10px;
  
}

.concept-first {
  font-family: "Shippori Mincho";
  font-size: 25px;
  font-weight: bold;
  color: #1B9240

}

.about-btn {
  background-color: white;
  border-radius: 5px;
  padding: 5px 15px;
  margin-left: 150px;
}


#course {
  margin: 20px auto;
  background-image: url(img/Vector.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 10;
  max-width: 1280px;
  margin: 0 auto;

  
}

.container {
  background-image: url(img/Union.png);
  background-repeat: no-repeat;
  background-position: 0 20px;
  z-index: 11;
}

.course-details {
  padding: 150px 0px 120px;
  padding-top: 90px;
  background-image: url(img/Title2.png);
  background-repeat: no-repeat;
  background-position: 110px 130px;
}


.insurance > img {
  border-radius: 20px 20px 20px 20px;
}

.course-guidance {
 text-align: center;
}
 

.course-guidance > p {
  color: #1B9240;
  font-size: large;
  font-weight: bold;
}


.course-inner {
  display: flex;
  margin: 40px auto;
  background-image: url(img/BGicon_Green.png);
  background-repeat: no-repeat;
  background-position: 950px 200px;
}

.insurance {
  width: 400px;
  margin: 20px auto;
  margin-right: 10px;
}

.self {
  width: 400px;
  margin: 20px auto;
  margin-left: 10px;
  
}

.self > img {
  border-radius: 20px 20px 20px 20px;
}
 

ul > P {
  font-size: large;
  font-weight: bold;
  color: #0c4324;
  margin-left: 0;
}

li {
  padding: 5px;
}


.course-btn {
  background-color: #f0f5e1;
  border-radius: 5px;
  padding: 5px 25px;
  margin: 10px 550px;

}

#voice {
  width: 1280px;
  height: 680px;
  margin: 20px auto;
  padding-bottom: 100px;
  max-width: 1280px;
  margin: 0 auto;
}

.voice-mainvisual {
  max-width: 1280px;
  width: 100%;
  margin: 0;
  position: relative;
  top: -20px;
}

.circle {
  position: relative;
  top: -140px;
  left: 390px;
  z-index: 11;
}

.voice-details {
  position: relative;
  top: -230px;
  z-index: 12;
}



.voice-title {
  display: flex;
  justify-content: center;
}

.voice-title >img {
  width: 20px;
  height: 30px;
  margin: 0 25px;
}

.voice-title > p {
  font-size: large;
  font-weight: bold;
  color: #1B9240;
  text-align: center;
}

.voice-text {
  font-size: large;
  font-weight: bold;
  color: #1B9240;
  text-align: center;
}

.customer {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px;
  padding: 30px 30px;
}

.user1  > img {
  border-radius: 150px 150px 150px 150px;
}

.user2  > img {
  border-radius: 150px 150px 150px 150px;
}

.user3  > img {
  border-radius: 150px 150px 150px 150px;
}

.user1 {
  width: 250px;
  
}

.user2 {
  width: 250px;

}

.user3 {
  width: 250px;
  
}

.user-name {
  font-size: large;
  font-weight: bold;
  color: #0c4324;
}

.voice-list {
  justify-content: center;
}

.voice-btn {
  background-color: white;
  border-radius: 5px;
  padding: 0 25px;
  margin: 0 550px;
}

#contact {
  background-image: url(img/access_02/Frame\ 2564.png), url(img/Union.png);
  background-repeat: no-repeat;
  margin-top: 180px ;
  padding-bottom: 30px;
  max-width: 1280px;
  margin: 0 auto;
}

.contact-detales {
  padding-top: 80px;
}

.contact-title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.contact-title > img {
  width: 20px;
  height: 30px;
  margin: 0 25px;
}

.message {
  font-size: large;
  font-weight: bold;
  color: #1B9240;
  
}

.address1 {
  font-size: large;
  font-weight: bold;
  color: #1B9240;
}

.tel {
  font-size: large;
  font-weight: bold;
  color: #1B9240;
}

.contact-detales{
  margin: 20px 100px;
}
.contact-iner {
  display: flex;

}

footer {
  width: 1280px;
  height: 163px;
  background-color: #f0f5e1;
  max-width: 1280px;
  margin: 0 auto;

}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.footer-nav > a {
  color: black;
}

.copy {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 60px;
  background-color: #1B9240;
  color: white;
  text-align: center

}
}

/*画面幅が768px以下のとき */
@media screen and (max-width: 768px) {
/* スマホ用のスタイルを指定する*/
/* 横幅設定 */
body {
  min-width: 320px;
  margin: 0;
}

#nav-pc {
  display: none;
}

/* ハンバーガーメニュー */
#menu-sp {
  float: right;
  padding: 0;
}

/* スマホ用ナビゲーションの表示切替 */
/* 初期状態、レイアウトと非表示設 */
#nav-sp {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 100;
}

/* xボタン */
#close {
  position: absolute;
  top: 20px;
  right: 20px;
}

#logo-sp {
  margin: 20px 0 30px 20px;
 
}

/* ナビゲーションリンクの装飾*/
#nav-sp > a {
  display: block;
}

#nav-sp > a:link {
  color: black;
}

#nav-sp > a:visited {
  color: black;
  
}

#nav-sp > a:hover {
  color: black;
  text-decoration: underline;
}

#nav-sp > a:active {
  color: black;
}

#nav-sp  > .menu {
  text-decoration: none;
  display: block;
  margin: 0 20px;
  height: 44px;
  font-size: 16px;
}
}